In [2]:
print("hello, world")
#function(argument)

hello, world

In [8]:
#numeric types come in two forms
#integers and floats

number = 10
#integer
floaty = 5.4
#float

## Data types
Markdown cell!

In [4]:
# string is either double quotes or single quotes

test = "hello"

# variable to store data so here the label 'test' prompts printing of hello

print(test)

hello

In [7]:
type(test)
#string
#function(variable)

str

In [9]:
number + floaty

15.4

In [10]:
test + number

TypeError: can only concatenate str (not "int") to str

In [12]:
test + test
#concatenation

'hellohello'

### Operators

In [13]:
10 + 5

15

In [14]:
36 / 6

6.0

In [15]:
6 * 10

60

In [16]:
7 ** 7

823543

In [17]:
15 // 3
#rounds to nearest integer rather than gives a float

5

In [18]:
15 % 2

1

In [19]:
# concatenation with strings
'foo' + 'bar'

'foobar'

In [20]:
'foo' * 10

'foofoofoofoofoofoofoofoofoofoo'

## Python Collections

In [3]:
#list 

my_list = [1, '2', 3.2]

In [22]:
print(my_list)

[1, '2', 3.2]

In [4]:
print(my_list[0])

1

In [5]:
print(my_list[-1])

3.2

In [7]:
print(my_list[1:])
# get the index values from the second item to the end (0 is first). This is a subset

['2', 3.2]

In [8]:
# dictionaries

my_dict = {'one': 1, 'two': 2, 'three': 3}

In [10]:
print(my_dict['one'])
# dictionaries are NOT ordered, unlike lists. They are made up of keys and their associated values. must search for the relevant key

1